# Node
node_modules/
dist/
build/
npm-debug.log
.env
.env.local
.env.*.local

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp

# Coverage
coverage/
*.lcov

# NestJS
.cache